{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- overlay to hide background image -->
<div class="overlay"></div>
<!-- container with two rows -->
<div class="container mb-2">
    <!-- row with one colum - Shopping bag heading-->
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>
    <!-- row with one colum - table to show bag contents-->
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <!-- bag contents -->
            <div class="table-responsive rounded">
                <!-- test rendering out the bag items -->
                {{ bag_items }}
            </div>
            {% else %}
            <!-- if nothing in bag, give a link back to products page -->
            <p class="lead mb-5">Your bag is empty</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fa fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}