{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- overlay to hide background image -->
<div class="overlay"></div>
<!-- container with two rows -->
<div class="container mb-2">
    <!-- row with one colum - Shopping bag heading-->
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>
    <!-- row with one colum - table to show bag contents-->
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <!-- bag contents -->
            <div class="table-responsive rounded">
                <!-- table with 5 columns: product image, info, per item price, quantity, subtotal -->
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <!-- table header row - column headers -->
                        <tr>
                            <!-- product info spans two columns -->
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                        <!-- row for each item in bag -->
                        {% for item in bag_items %}
                        <tr>
                            <!-- 1st col - image -->
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="">
                            </td>
                            <!-- 2nd col - name, size and sku -->
                            <td class="p-3">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                <p class="my-0"><strong>Size:
                                    </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}
                                </p>
                                <p class="py-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </td>
                            <!-- 3rd col - price -->
                            <td class="p-3">
                                <p class="my-0">€{{ item.product.price }}</p>
                            </td>
                            <!-- 4th col - quantity -->
<td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    {% if item.product.has_sizes %}
                                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                    </td>
                            <!-- 5th col - subtotal -setting as price now, will come back to -->
                            <td class="p-3">
                                <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- row showing summary of costs and how much more to spend to get free delivery -->
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <!-- last row - keep shopping button + secure checkout button -->
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="" class="btn btn-black rounded-0 btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                </table>
            </div>
            {% else %}
            <!-- if nothing in bag, give a link back to products page -->
            <p class="lead mb-5">Your bag is empty</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fa fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<!-- parent block -->
{{ block.super }}
<!-- include the html file with the script for +/- quantity buttons -->
{% include 'products/includes/quantity_input_script.html' %}
<script>
    // update the quantity on click
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    });

    // remove item and reload on click
    $('.remove-item').click(function(e) {
        // using double {} gets the actual token, and not with %% which renders a hidden input field in form
        let csrfToken = "{{ csrf_token }}";
        // get item id by splitting the id of the link at the underscore and take second half of it
        // id="remove_{{ item.item_id }}"
        let itemId = $(this).attr('id').split('remove_')[1];
        // item size is from the data atrribute: data-size="{{ item.size }}"
        let size = $(this).data('product_size');
        // url - we need to create this later
        let url = `/bag/remove/${itemId}/`;
        // data is the object to send this data to the server
        // 'csrfmiddlewaretoken' key - value is the variable above, which is what Django is expecting to see
        // in request.post when form is posted to server
        // size key - value is size variable from above
        let data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
        // jquery post method, pass it the url and data
        $.post(url, data)
         .done(function() {
             location.reload();
         });
    });
</script>
{% endblock %}