{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <!-- 1st row - headings -->
        <div class="row">
            <!-- 50% width column on larger screen - headings -->
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Add a Product</h5>
                <hr>
            </div>
        </div>
        <!-- second row - add product form -->
        <div class="row">
            <div class="col-12 col-md-6">
                <!-- encoding type included so can upload images -->
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- render the fields but for image field don't include field label -->
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // listen for change event on new image field input
        $('#new-image').change(function() {
            // get the file that was added to it
            let file = $('#new-image')[0].files[0];
            // set the filename paragraph in widget template to the file's name
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}